* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #525252;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  max-height: none;
}

header {
  height: 52px;
  background-color: #525252;
}

section {
  width: 100%;
  height: auto;
}

.content {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 22%;
}

.navigation {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #ededed;
}

.menu {
  padding-right: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 52px;
  font-size: 12px;
}

.menu p {
  padding-right: 11px;
  padding-left: 11px;
}

.menu img {
  height: 15px;
  width: 16px;
}

.title {
  font-size: 38px;
  font-weight: 700;
  color: #2e2e2e;
  height: 104px;
}

.searchMainBox {
  height: 52px;
  background-color: #ededed;
  display: flex;
  align-content: center;
}

.searchBox {
  height: 52px;
  background-color: #ededed;
  align-content: center;
}

.searchArea {
  margin-right: 18px;
  height: 30px;
  width: 252px;
  color: #767676;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #e6332a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  padding-left: 11px;
  height: 28px;
  width: 233px;
  color: #767676;
  background-color: #ffffff;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
}

input {
  border: none;
}

.searchButton {
  box-sizing: content-box;
  padding-right: 7px;
  height: 19px;
  width: 11px;
}

.plusTagButton {
  margin-left: -12px;
  font: inherit;
  background-color: inherit;
  color: #767676;
}

.tagBox {
  box-sizing: content-box;
  height: auto;
  width: 56%;
  padding-top: 45px;
}

.alphabet {
  top: 0;
  padding-left: 30px;
  max-height: none;
  width: 100%;
  column-count: 4;
  column-fill: balance;
}

.alphabet > * {
  font-size: 24px;
  font-weight: 700;
}

.letter {
  color: #e6332a;
  position: absolute;
  max-width: 200px;
  padding: 5px 0;
  left: -30px;
  top: 0;
}

.letter:hover {
  display: none;
}

.listSection {
  margin-right: 30px;
  position: relative;
  height: min-content;
  width: min-content;
  max-width: 200px;
  padding: 5px;
  text-overflow: ellipsis;
  cursor: default;
}

.listSection:hover {
  max-width: min-content;
  background: #c4c4c4;
  color: #ffffff;
  border-radius: 3px;
  overflow: visible;
  position: relative;
}

.deleteTag {
  display: none;
  box-sizing: content-box;
  height: 2px;
  width: 6px;
  background-color: #ffffff;
  border: #e6332a solid;
  border-width: 4px 2px 4px 2px;
  border-radius: 10px;
  position: absolute;
  right: -4px;
  top: -5px;
  cursor: pointer;
}

.listSection:hover .deleteTag {
  display: block;
}
